* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: black;
}

.logo {
  cursor: pointer;
  width: 100%;
}

@font-face {
  font-family: Futura;
  src: url('../fonts/FuturaConLigObl/FuturaConLigObl.otf') format('opentype');
}

.email {
  font-family: Futura;
  color: gray;
  text-align: center;
  padding-right: 10vh;
}

@media only screen and (max-width: 600px) {
  .logo {
    margin-top: 30vh;
  }
  .email {
    padding-top: 21vh;
    padding-right: 2vh;
  }
}
